#.env.example
API_KEY = "hogehgoe"  #APIKeyを入力,ローカルの場合は適当でOK
BASE_URL = "http://127.0.0.1:1234/v1/"  #APIサーバのURLを入力。
SYSTEM_PROMPT = "あなたはタイトル分類の専門家です。与えられたMVのタイトルから曲名を抜き出してください。出力はリスト形式([要素1,要素2])で行い、それ以外は出力しないでください。"